* {
  list-style: none;
  box-sizing: border-box;
  font-family: DMSansRegular;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  text-decoration: none;
}
.navbar {
  font-size: 17px;
}

.home_navTab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, max-content);
  background-color: rgb(219, 223, 223);
}

.navbar .navbar-nav a {
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: normal;
}

.home_navTab .nav-item {
  padding-bottom: 10px;
}

.home_navTab .nav-item a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.home_navTab > .nav-item:nth-child(2) {
  width: 100px;
}

.home_navTab > .nav-item:nth-child(3) a {
  align-items: center;
  height: 100%;
}

.home_navTab > .nav-item:last-child a {
  gap: 30px;
}

.home_navTab .nav-item-active {
  border-bottom: solid 2px darkblue;
  color: darkblue;
}

.bookingsForm {
  background-color: darkblue;
}

.flight_navTab .nav-item {
  color: white;
  padding: 5px 0;
  font-weight: 600;
}

.flight_navTab .nav-item.nav-item-active {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  color: darkblue;
  background-color: white;
  border-radius: 2px;
}

.btn.btn-lg {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-weight: 800;
  border-radius: 5px;
  gap: 20px;
  margin-top: 40px;
}

.appInputs {
  width: 100%;
}

.appInputs > input {
  height: 70px;
  width: 100%;
  padding: 10px;
}
